extends template
block vars
    - var title = "Home Page";

block body
    h1 Authorisation Example for Tech Mahindra
    h2 Home page
    hr
    Welcome to Tech mahindra page please click here to login 
        <br/>
        a(href="/login") Login Here 
        <br/>
        new user register here 
        <br/>
        a(href="/register") Register Here 
