extends template
block vars
    - var title = "Login Page";
block body
    h1 Authorisation Example for Tech Mahindra
    h2 Login page
    if error 
        p Error : #{ error }
    form(method="post")
        div(class="mb-3")
            label(for="useremail" class="form-label") Email address
            input(type="email" name="userEmail" class="form-control" id="useremail")
        div(class="mb-3")
            label(for="userpassword" class="form-label") Password
            input(type="password" name="userPassword" class="form-control" id="userpassword")
        button(type="submit" class="btn btn-primary") Login