extends template
block vars
    - var title = "Registeration Page";
block body
    h1 Authorisation Example for Tech Mahindra
    h2 Regsisteration page
    form(method="post")
        div(class="mb-3")
            label(for="userfirstname" class="form-label") User First Name
            input(class="form-control" name="firstname" id="userfirstname")
        div(class="mb-3")
            label(for="userlastname" class="form-label") User Last Name
            input(class="form-control" name="lastname" id="userlastname")
        div(class="mb-3")
            label(for="useremail" class="form-label") Email address
            input(type="email" name="email" class="form-control" id="useremail")
        div(class="mb-3")
            label(for="userpassword" class="form-label") Password
            input(type="password" name="password" class="form-control" id="userpassword")
        button(type="submit" class="btn btn-primary") Register